/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$red: #b22d00;
@mixin brand-font {
  font-family: 'Futura';
  color: white;
};

body {
  background-color: $red;
}
/*
Layout
*/
a {
  text-decoration: none;
}

.site {
  top: 0;
  width: 100%;
}

.title {
  padding-top: 100px;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  a {
    font-size: 32px;
    text-transform: uppercase;
    @include brand-font;
  }
}

.header {
  background: $red;
  height: 225px;
  width: 100%;
}

.footer {
  background: $red;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  .contact {
    width: 500px;
    margin: 0 auto;
    text-align: right;
    p {
      display: inline-block;
    }
    a {
      @include brand-font;
    }
  }
}
/*
Index
*/
#home {
  background-color: $red;
  color: white;

  p {
    line-height: 150%;
    font-family: 'Georgia';
    margin: 0 auto;
    width: 500px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 22px;
  }
}
